*.pyc
*.jpg
*.png
*.so
.idea/
pva-faster-rcnn/build/
pva-faster-rcnn/.build_release/
pva-faster-rcnn/models/binary/
libjson/build1/
libjson/dist/
libjson/framefilejson.egg-info/
libjson/results/
test.model
